<div class="bg-info-tst">
    <div class="grid-info">
        <div class="info-1">
            <%= image_tag 'Vector.png', class: 'vector' %>
            <p class="info-txt"><strong>Inscrições</strong></p>
        </div>
        <div class="info-1">
            <%= image_tag 'vector2.png', class: 'vector' %>
            <p class="info-txt-1"><strong>Rádio</strong></p>
        </div>
        <div class="info-1">
            <%= image_tag 'vector3.png', class: 'vector' %>
            <p class="info-txt-2"><strong>Informativo Diocese</strong></p>
        </div>
        <div class="info-1">
            <%= image_tag 'vector4.png', class: 'vector' %>
            <p class="info-txt-3"><strong>Vídeos</strong></p>
        </div>
    </div>

</div>