<div class="bg-links">
    <div class="section-heading-3">
        <p class="title"><strong>Links úteis</strong></p>
        <span class="heading-border-2"></span>
    </div>

    <div class="grid-link">
        <div class="item-link-1">
        </div>
        <div class="item-link-2">
        </div>
        <div class="item-link-1">
        </div>
    </div>
</div>
