<header>
    <div class="top-header"></div>
        <div class="bottom-header">
            <div class="bottom-content-wrap">
                    <div class="logo-header"></div>
                    <a href="home#index" class="a-header">Inicio</a>
                    <a href="" class="a-header">Diocese</a>
                    <a href="" class="a-header">Pastoral</a>
                    <a href="" class="a-header">Multimidia</a>
                    <a href="" class="a-header">Agenda</a>
                    <a href="" class="a-header">Eventos</a>
                    <a href="" class="a-header">Inscrições</a>
                    <a href="" class="a-header">Noticias</a>
                    <a href="" class="a-header">Contato</a>
            </div>
    </div>
</header>